.sidebar {
    min-height: 100vh;
    background-color: #f8f9fa; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding-top: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #010c0f; 
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    transition: color 0.3s, transform 0.3s; 
}

.sidebar a:hover {
    color: #198754;
    transform: scale(1.05);
}
